{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 class="text-center">Login</h1>
    <form method="POST" class="form-group" novalidate>
        {% csrf_token %}

        <!-- Render the form using crispy forms -->
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Login</button>
    </form>
    
    <p class="text-center">
        Don't have an account? <a href="{% url 'Signup' %}">Register here</a>
    </p>
</div>
{% endblock %}
