{% extends 'base.html' %}  <!-- Extend the base template -->
{% block content %}  <!-- Start the content block -->
<div class="container">
    <h1 class="text-center">Problem List</h1>
    <ul class="list-group">
        {% for problem in problems %}
            <li class="list-group-item">
                <a class="btn btn-link text-primary" href="{% url 'problem_detail' problem.id %}">{{ problem.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}  <!-- End the content block -->
